/* src/style/Navbar.css */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 1000;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Change this to your desired background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover {
  text-decoration: underline;
}