@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    background-color: #010107 !important;
}
.navbar_border {
    height: fit-content;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;  
    color: white;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden; /* Ensure no overflow */
}
.hero-short{
    position: relative;
    height: 50vh;
    width: 100%;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: -50px; /* Extend beyond top edge */
    left: -50px; /* Extend beyond left edge */
    right: -50px; /* Extend beyond right edge */
    bottom: -50px; /* Extend beyond bottom edge */
    background-image: url('../images/Designer1.png');
    background-attachment: fixed;
    background-size: cover;
    filter: blur(8px); /* Apply blur to the pseudo-element */
    z-index: 1; /* Set z-index for layering */
}
.hero-short::before{
    content: "";
    position: absolute;
    top: -50px; /* Extend beyond top edge */
    left: -50px; /* Extend beyond left edge */
    right: -50px; /* Extend beyond right edge */
    bottom: -50px; /* Extend beyond bottom edge */
    background-image: url('../images/Designer1.png');
    background-attachment: fixed;
    background-size: cover;
    filter: blur(8px); /* Apply blur to the pseudo-element */
    z-index: 1; 
}
.hero-short::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.5)); /* Gradient overlay to mask edges */
    z-index: 2; 
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.5)); /* Gradient overlay to mask edges */
    z-index: 2; /* Set z-index for layering */
}

.hero-content {
    position: relative;
    z-index: 3; /* Ensure content is above the background and gradient */
    padding: 15% 5%; /* Adjust padding to position elements */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white; /* Text color */
}

.main-text {
    font-size: 3rem; /* Larger text for main content */
    font-weight: bold;
}

.sub-text {
    font-size: 1rem; /* Smaller header size */
    margin-top: 1rem; /* Space between main text and subtext */
    align-self: flex-start; /* Align to the right of the left component */
}

.services_general {
    height: 300px;
    width: 100%;
}

.about_us {
    height: 120vh;
    width: 100%;

}

.technologies {
    height: 400px;
    width: 100%;
}

.contact_us {
    height: 100vh;
    width: 100%;
    background-color: white;
}

.footer {
    height: 400px;
    width: 100%;
}

.our_solution{
    height: 140vh;
    width: 100%; 
}
.main-solution{
    width:70%;
    height:600px;
    background-color: yellowgreen;
}
.nested-element-div{
    width:100%;
    height: 300px;
    background-color: aqua;
    border-color:red;
}
.image-div{
    background-color: antiquewhite;
    width:30%;
    height:200px
}
.paragraph-description{
    width:70%;
    height:200px;

}